/* ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 * TABLE OF CONTENTS
 *
 * This is a development SCSS file which is built to a minified production stylesheet in assets/built/screen.scss
 *
 * 0. Variable & Mixin
 * 1. Global
 * 2. Layout
 * 3. Special Templates
 * 4. Site Header
 * 5. Post Feed
 * 6. Single Post
 *   6.1. Subscribe Form
 *   6.2. Post Footer
 *   6.3. Comments
 *   6.4. Related Posts
 *   6.5. Floating Header
 * 7. Author Template
 * 8. Error Template
 * 9. Subscribe Overlay
 * 10. Site Footer
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */

/* ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 * 0. Variable & Mixin
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */
@import "_sass/open-color";

/* ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 * 1. Global: Set up the things
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */
html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: $oc-gray-2;
}

/* ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 * 2. Layout: Page building blocks
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-main {
  flex-grow: 1;
  z-index: 100;
}

/* Full width page blocks */
.outer {
  padding: 0 4vw;
  position: relative;
}

/* Centered content container blocks */
.inner {
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
}