<div id="header-bar" class="header-bar">
    <div class="container">
        <div class="row">
            <div class="left col col-10">
                <a href="{{ site.baseurl }}/" class="logo">{{ site.name }}</a>
                {% if page.layout == "post" %}
                <span class="title">{{ page.title }}</span>
                {% endif %}
            </div>

            <div class="right col col-2">
                <i id="mega-open" class="fas fa-bars d-none"></i>
                <i id="search-open" class="fas fa-search d-none"></i>
            </div>
        </div>
    </div>
</div>
