{% assign header_cover = page.cover | default: layout.cover | default: site.cover %}
<header id="app-header" style="background-image: url('{{ header_cover | prepend: site.baseurl }}');">
    {% capture page.title %}{{ page.title }}{% endcapture %}
    {% include component/header/bar.html title=page_title %}

    <div class="container">
        <div class="row">
            {% include component/header/content.html %}

            {% include component/header/navigation.html %}

            {% include component/header/search.html %}
        </div>
    </div>
</header>
