<nav id="mega-menu" class="mega-menu">
    <div class="container">
        <div id="mega-close" class="mega-close">
            <i class="fas fa-times"></i>
        </div>

        <div class="menu-grid">
            <div class="grid-item">
                <h2 class="grid-title">menu</h2>
                <ul class="list list-reset">
                    {% for menu in site.menus %}
                    <li class="item">
                        <a href="{{ menu.url | prepend: site.baseurl }}" class="link">
                            {{ menu.label }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="grid-item">
                <h2 class="grid-title">category</h2>
                <ul class="list list-reset">
                    {% for category in site.categories %}
                    <li class="item">
                        <a href="{{ category.url | prepend: site.baseurl }}" class="link">
                            {{ category.title }}
                        </a>
                        <ul>
                            {% for sub in category.sub %}
                            <li>
                                <a href="{{ category.url | append: sub.title }}">
                                    {{ sub.title }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="grid-item">
                <h2 class="grid-title">tag</h2>
                <div class="widget-tags">
                    {% for tag in site.tags %}
                    <a href="{{ tag.url | prepend: site.baseurl }}" class="link tag">
                        #{{ tag.title }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</nav>
