<div id="header-bar" class="header-bar">
    <div class="container">
        <div class="left">
            <a href="{{ site.baseurl }}" class="logo">{{ site.name }}</a>
            {% if page.layout == "post" %}
            <span class="post-title">{{ page.title }}</span>
            {% endif %}
        </div>

        <div class="right">
            <i id="mega-open" class="fas fa-bars mega-open"></i>
            <i class="fas fa-search search-open d-none"></i>
        </div>
    </div>
</div>
