{% if page.url %}
    {% if page.url contains 'tag/' %}
        {% assign title = page.url | remove: 'tag' | remove: '/' | url_decode | replace: '-', ' ' | capitalizeall %}
    {% elsif page.url contains 'author/' %}
        {% assign username = page.url | remove: 'author' | remove: '/' | replace: '-', ' ' | remove: ' ' %}
        {% for author in site.data.authors %}
            {% if author[1].username == username %}
                {% assign title = author[1].name %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}

{% if title %}
    {% assign title = title | append: ' - ' | append: site.title %}
{% endif %}

{% if page.content and page.current == 'post' or page.current == 'about' %}
    {% assign excerpt = page.content | strip_html | truncatewords: 50, '' %}
{% endif %}

<!-- Document Settings -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Base Meta -->
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}/feed.xml" title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<link rel="canonical" href="{{ site.url }}{% if site.baseurl %}{{ site.baseurl }}/{% endif %}{{ page.url | remove_first: '/' }}">
<link rel="shortcut icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}/{{ site.favicon }}">

<!-- Styles'n'Script -->
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/themes/atom-one-dark.min.css">

<link rel="stylesheet" href="{{ site.baseurl }}/style.css">
