<head>
  {% include meta.html %}

  {% if page.url %}
  {% endif %}

  {% if title %}
    {% assign title = title | append: ' - ' | append: site.title %}
  {% endif %}
  <title>{% if title %}{{ title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="shortcut icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}{{ site.favicon }}" />
  <link rel="canonical" href="{{ site.url }}{% if site.baseurl %}{{ site.baseurl }}{% endif %}{{ page.url | remove_first: '/' }}" />
  <link rel="alternate" type="application/rss+xml" href="{{ site.baseurl }}feed.xml" title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />

  {% include fonts.html %}

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css" />

  {% include scripts.html %}
</head>