{% comment %}

Convert the alias of the syntax language to the official name

See: <https://github.com/rouge-ruby/rouge/wiki/List-of-supported-languages-and-lexers>

{% endcomment %}

{% assign _lang = include.language | default: '' %}

{% case _lang %}
    {% when 'actionscript', 'as', 'as3' %}
        {{ 'ActionScript' }}
    {% when 'bash', 'zsh', 'ksh', 'sh %}
        {{ 'Shell' }}
    {% when 'css', 'html', 'scss', 'ssh', 'toml', 'xml', 'yaml', 'json' %}
        {{ _lang | upcase }}
    {% else %}
        {{ _lang | capitalize }}
{% endcase %}