{% assign words_per_minute = site.words_per_minute | default: 200 %}

<div class="post-next {{ page.next.class }}{% unless page.next.cover %} no-image{% endunless %}">
    <img src="{{ site.baseurl }}{{ page.next.cover }}" class="post-nav-image" alt="{{ page.next.title }}">
    <a href="{{ site.baseurl }}{{ page.next.url | remove_first: '/' }}" class="post-nav-link">
        <div class="post-nav">NEXT POST <span class="material-symbols-outlined">chevron_right</span></div>
        <h4 class="post-nav-title">
            {{ page.next.title | strip_html | truncatewords: 30, "" }}
        </h4>
    </a>
</div>
