{% assign words_per_minute = site.words_per_minute | default: 200 %}

<div class="post-prev {{ page.previous.class }}{% unless page.previous.cover %} no-image{% endunless %}">
    <img src="{{ site.baseurl }}{{ page.previous.cover }}" class="post-nav-image" alt="{{ psge.previous.title }}">
    <a href="{{ site.baseurl }}{{ page.previous.url | remove_first: '/' }}" class="post-nav-link">
        <div class="post-nav"><span class="material-symbols-outlined">chevron_left</span> PREV POST</div>
        <h4 class="post-nav-title">
            {{ page.previous.title | strip_html | truncatewords: 30, "" }}
        </h4>
    </a>
</div>
