<!-- jQuery + Fitvids, which makes all video embeds responsive -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<!-- https://highlightjs.org/ + https://highlightjs.readthedocs.io/en/latest/ -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<!-- and it's easy to individually load additional languages -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>-->
<!--<script>hljs.highlightAll();</script>-->

<!-- Paginator increased to "infinit" in _config.yml -->
{% if paginator.total_pages > site.paginate %}
<script>
    const maxPages = parseInt({{ paginator.total_pages }});
</script>
{% endif %}