@function color($color, $amount) {
  $red: red($color) - $amount;
  $green: green($color) - $amount;
  $blue: blue($color) - $amount;

  @return rgb($red, $green, $blue);
}

@function alpha-color($color, $alpha) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);

  @return rgba($red, $green, $blue, $alpha);
}