/* ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 * FUNCTIONS
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */
@function color($color, $amount) {
  $red: red($color) - $amount;
  $green: green($color) - $amount;
  $blue: blue($color) - $amount;

  @return rgb($red, $green, $blue);
}

@function alpha-color($color, $alpha) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);

  @return rgba($red, $green, $blue, $alpha);
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes gradient {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 200vw;
  }
}
