html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  background-color: transparent;

  :active,
  :hover {
    outline: 0;
  }
}

img {
  max-width: 100%
}