.post-card,
.featured-posts {
    display: flex;
    display: -ms-flexbox;
}

.post-card {
    //background: linear-gradient(45deg, #0aefff 0%, #147df5 40%, #be0aff 100%);
    //background-size: cover;
    border-radius: 5px;
    //box-shadow: 8px 14px 38px rgba(39, 41, 50, 0.06), 1px 3px 8px rgba(39, 41, 50, 0.03);
    flex: 1 1 300px;
    flex-direction: column;
    margin: 0 20px 40px;
    min-height: 300px ;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    .post-card-image {
        border-radius: 5px 5px 0 0;
        display: block;
        overflow: hidden;
        position: relative;
        transform: translate(0);

        &:after {
            background-color: rgba($nier-dark-olive-gray, 0.6);
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        img {
            backface-visibility: hidden;
            background-size: cover;
            height: 280px;
            object-fit: cover;
            object-position: center;
            transition: all 0.5s ease-in-out;
            width: 100%;
        }
    }

    .post-card-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        //justify-content: space-between;
        padding: 20px;
    }

    .post-card-categories,
    .post-card-tags {
        display: flex;
        margin-bottom: 8px;
        min-height: 30px;

        a {
            background-color: $nier-warm-gray;
            border-radius: 2px;
            color: adjust-color($nier-dark-olive-gray, $lightness: -15%);
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 0.5px;
            line-height: 1.8em;
            margin: 0 4px 4px 0;
            padding: 4px 12px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                background-color: $nier-terracotta;
                color: $nier-sand-gray;
            }
        }
    }

    .post-card-title {
        align-items: flex-end;
        display: flex;
        font-size: 3.2rem;
        line-height: 1.1;
        margin: 0 0 20px;
        min-height: 70px;

        a {
            background: linear-gradient(#ad72df, #ad72df) no-repeat bottom/100% 0%;
        }
    }

    .post-card-meta {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        font-size: 1.3rem;
        font-weight: 700;
        justify-content: space-between;
        letter-spacing: 1.6px;
        line-height: 1;
        margin-bottom: 24px;
        text-transform: uppercase;

        .author, .time {
            align-items: center;
            display: flex;
        }

        .author-picture {
            border-radius: 100%;
            height: 25px;
            margin-right: 5px;
            object-fit: cover;
            width: 25px;
        }

        .time {
            font-weight: 300;
            letter-spacing: 0.1px;
        }

        .reading-time {
            margin-left: 5px;
        }
    }

    .post-card-excerpt {
        margin-bottom: 0;
        //max-height: 103px;
        overflow: hidden;
    }

    &:hover {
        //box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.75), 0 0 0 rgba(39, 41, 50, 0.75), 0px 0px 12px rgba(39, 41, 50, 0.35);
        box-shadow: 0 0 1px rgba($nier-dark-olive-gray, 0.1), 0 3px 16px rgba($nier-dark-olive-gray, 0.27);
        //box-shadow: 4px 0 10px rgba(39, 41, 50, 0.3), -20px 10px 0 rgba(39, 41, 50, 1);
        transition: all 0.3s ease-in-out;
        transform: translate3d(0, -5px, 0);

        .post-card-image img {
            transition: all 0.3s ease-in-out;
            transform: scale(1.15);
        }
    }

    //&:before {
    //    animation: gradient 5s linear infinite;
    //    background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
    //    background-size: 200vw;
    //    border-radius: 5px;
    //    content: '';
    //    height: 100%;
    //    left: 0;
    //    opacity: 0;
    //    position: absolute;
    //    top: 0;
    //    visibility: hidden;
    //    width: 100%;
    //    z-index: -1;
    //}

    //&:hover:before {
    //    filter: blur(20px);
    //    opacity: 1;
    //    visibility: visible;
    //}

    @include mobile-max {
        margin: 0 20px 5vw;
    }
}

.featured-posts {
    //flex-wrap: wrap;
    margin: -170px -20px 0;
    padding: 40px 0 0;
    position: relative;

    /*
     Special Styling for home page grid (below).
     The first (most recent) post in the list is styled to be bigger than the others and take over the full width of the grid
     to give it more emphasis. Wrapped in a media query to make sure this only happens on large viewports / desktop-ish devices.
     */
    @media (min-width: $breakpoint-tablet) {
        .post-card:nth-child(4n+1):not(.no-image) {
            flex: 1 1 100%;
            flex-direction: row;

            .post-card-image {
                border-radius: 5px 0 0 5px;
                flex: 1 1 auto;
                position: relative;

                img {
                    height: 300px;
                    //position: absolute;
                    width: 100%;
                }
            }

            .post-card-content {
                background-color: $nier-dark-olive-gray;
                color: $nier-sand-gray;
                flex: 0 1 450px;

                .post-card-categories a {
                    //display: block;
                    //margin-bottom: 4px;
                    //font-size: 1.2rem;
                    //line-height: 1.15em;
                    //font-weight: 500;
                }
            }
        }
    }
}

.post-wrapper {
    margin: 0 20px;
    min-height: 600px;
    position: relative;

    .post-header .row,
    .post-content .row {
        padding: 0 40px;
    }
}

/* ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 * 8.1. Header
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */
.post-header {
    align-items: center;
    background-color: $nier-sand-gray;
    display: flex;
    //flex-direction: column;
    margin: -140px auto 48px;
    min-height: 240px;
    padding: 30px 0;
    position: relative;
    max-width: 1300px;

    &:before {
        background: rgba($cyber-raisin-black, 0.5);
        content: "";
        display: block;
        filter: blur(5px);
        height: 180px;
        left: -8px;
        position: relative;
        top: 12px;
        transform: rotate(-5deg);
        width: 20px;
        z-index: -1;
    }

    &:after {
        background: rgba($cyber-raisin-black, 0.5);
        content: "";
        display: block;
        filter: blur(5px);
        height: 180px;
        position: absolute;
        right: -8px;
        top: 12px;
        transform: rotate(5deg);
        width: 20px;
        z-index: -1;
    }

    .post-tags {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 16px;

        .post-tag {
            background-color: $nier-warm-gray;
            border-radius: 2px;
            color: $nier-dark-olive-gray;
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 0.5px;
            line-height: 1.8em;
            margin: 0 4px 4px 0;
            padding: 4px 12px;
            position: relative;
            text-decoration: none;

            &:hover {
                background-color: $nier-terracotta;
                color: $nier-sand-gray;
            }
        }
    }

    .post-title {
        margin-bottom: 32px;
        font-size: 7.2rem;
        line-height: 1;
    }

    .post-meta {
        align-items: center;
        display: flex;
        font-size: 1.2rem;
        font-weight: 700;
        justify-content: center;
        letter-spacing: 0.5px;
        line-height: 1;
        margin-bottom: 0;
        text-transform: uppercase;

        .post-date {
            padding-right: 5px;
        }

        .post-reading-time {
            padding-left: 5px;
        }
    }
}

/* ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 * 8.2. Contents
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */
.post-content {
    margin-top: 4em;

    .row {
        line-height: 1.6em;
        margin: 0 auto;
        padding: 0 2em;
        position: relative;
        min-height: 240px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        margin: 0.5em 0 0.2em 0;
        min-width: 100%;
    }

    h1 {
        font-size: 4.6rem;

        @include mobile-max {
            font-size: 2.8rem;
        }
    }

    h2 {
        font-size: 3.6rem;

        @include mobile-max {
            font-size: 2.6rem;
        }
    }

    h3 {
        font-size: 2.8rem;

        @include mobile-max {
            font-size: 2.4rem;
        }
    }

    h4 {
        font-size: 2.6rem;

        @include mobile-max {
            font-size: 2.2rem;
        }
    }

    h5 {
        border: 0;
        display: block;
        font-size: 3.2rem;
        line-height: 1.35em;
        margin: 0.5em 0;
        padding: 1em 0 1.5em;
        text-align: center;

        @include laptop-min {
            max-width: 1200px;
            width: 100vw;
        }

        @include mobile-max {
            font-size: 2.2rem;
            padding: 0 0 0.5em;
        }
    }

    h6 {
        font-size: 2.3rem;

        @include mobile-max {
            font-size: 2rem;
        }
    }

    li {
        word-break: break-word;

        p {
            margin: 0;
        }
    }

    li:first-child {
        margin-top: 0;
    }

    strong, em {
        color: adjust-color($nier-terracotta, $lightness: -5%);
    }

    small {
        display: inline-block;
        line-height: 1.6rem;
    }

    img, video {
        display: block;
        margin: 1.5em auto;

        @include laptop-max {
            width: 100%;
        }
    }

    /* Full bleed images (#full)
     Super neat trick courtesy of @JoeDrapper
     Usage:
        ![img](/some/image.jpg#full)
     */
    img[src$="#full"] {
        border-radius: 0;
        display: block;
        margin-left: 50%;
        max-width: none;
        pointer-events: none;
        transform: translateX(-50%);
        user-select: none;
        width: 100vw;
    }

    /* Image captions
     Usage:
        ![img](/some/image.jpg)
        <small>Your image caption</small>
     */
    img + em,
    img + br + small {
        color: adjust-color($nier-warm-gray, $lightness: -20%);
        display: block;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: normal;
        line-height: 100%;
        margin-top: 20px;
        text-align: center;
    }

    iframe {
        border-radius: 12px;
        margin: 0 auto;
        width: 100%;
    }

    blockquote {
        background-color: adjust-color($nier-sand-gray, $lightness: 5%);
        border-left: $nier-dark-olive-gray 2px solid;

        &[class^=prompt-] {
            position: relative;
            padding: 1rem 1rem 1rem 3rem;
        }
    }

    hr {
        height: 5px;
        margin: 1em 0 3.5em;

        &:before {
            border-right: 4px solid transparent;
            border-top: 4px solid $nier-dark-olive-gray;
            content: "";
            height: 4px;
            left: 60px;
            position: absolute;
            top: 0;
            width: 4px;
        }

        &:after {
            background-color: $nier-dark-olive-gray;
            content: "";
            height: 4px;
            left: 0;
            position: absolute;
            top: 0;
            width: 60px;
        }
    }

    kbd {
        background-color: adjust-color($nier-sand-gray, $lightness: 5%);
        border: $nier-dark-olive-gray 1px solid;
        border-radius: 2px;
        box-shadow: inset 0 -2px 0 adjust-color($nier-dark-olive-gray, $lightness: 5%);
        margin: 0 0.2em;
        padding: 0.16em 0.32em;
    }

    .highlight {
        margin-bottom: 1.5em;
    }
}

.kg-card-markdown {
    //align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 1300px;
}

@media (max-width: $breakpoint-mobile) {
    .post-header-meta {
        font-size: 1.2rem;
        line-height: 1.3em;
    }

    .post-header-title {
        font-size: 2.9rem;
    }

    .post-content {
        padding: 0;

        &:before, &:after {
            display: none;
        }
    }
}

/* ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 * 8.3. Navigation
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */
.post-navigation {
    //border-radius: 5px;
    display: flex;
    margin-top: 4em;
    overflow: hidden;

    .post-prev, .post-next {
        //align-items: stretch;
        background-color: $nier-dark-olive-gray;
        box-shadow: 0 5px 10px 0 rgba($nier-dark-olive-gray, 0.5);
        display: flex;
        flex-grow: 1;
        min-height: 240px;
        position: relative;
        width: 100%;

        .post-nav-link {
            background-color: $nier-dark-olive-gray;
            display: block;
            height: 100%;
            overflow: hidden;
            position: absolute;
            user-select: none;
            width: 100%;

            &:after {
                background-color: rgba($nier-dark-olive-gray, 0.6);
                content: "";
                display: block;
                height: 100%;
                left: 0;
                pointer-events: none;
                position: absolute;
                top: 0;
                width: 100%;
            }

            .post-nav-image {
                height: 100%;
                object-fit: cover;
                pointer-events: none;
                position: absolute;
                top: 0;
                transition: transform 0.3s ease-in-out;
                width: 100%;
            }
        }

        .post-nav-content {
            color: $nier-sand-gray;
            margin-top: auto;
            padding: 0 32px 32px;
            //pointer-events: none;
            width: 100%;
            z-index: 1;

            a {
                color: $nier-sand-gray;
                text-decoration-color: rgba($nier-sand-gray, 0);
            }
        }

        .post-nav {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1;
        }

        .post-nav-title {
            font-size: 2.8rem;
            line-height: 1;
            margin: 12px 0;
            //transition: all 0.3s ease-in-out;
        }

        &:hover {
            .post-nav-image {
                transform: scale(1.1);
            }

            a {
                text-decoration: underline;
                text-decoration-color: rgba($nier-sand-gray, 1);
            }
        }
    }

    .post-prev {
        i {
            margin-right: 8px;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            i {
                margin-right: 2px;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    .post-next {
        i {
            margin-left: 8px;
            transition: all 0.3s ease-in-out;
        }

        .post-nav-content {
            text-align: right;
        }

        &:hover {
            i {
                margin-left: 2px;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    @include mobile-max {
        flex-direction: column;
    }
}

/* ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 * 8.4. Comments
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */
.post-comments {
    margin: 0 auto 60px;
}

/* ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 * 8.5. Footer
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */
.post-footer {
    align-items: center;
    display: none;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
    padding: 3vw 0 6vw;
}

//.post-footer {
//    align-items: center;
//    display: flex;
//    justify-content: space-between;
//    margin: 0 auto;
//    max-width: 1200px;
//    padding: 3vw 0 6vw;
//
//    .author-card {
//        align-items: center;
//        display: flex;
//
//        .author-profile-image {
//            height: 60px;
//            margin-right: 15px;
//            width: 60px;
//        }
//
//        .author-card-content {
//            p {
//                margin: 0;
//                color: $lavender-indigo;
//                line-height: 1.3em;
//            }
//        }
//
//        .author-card-name {
//            font-size: 2rem;
//            margin: 0 0 2px 0;
//            padding: 0;
//
//            a:hover {
//                color: $raisin-black;
//            }
//        }
//    }
//
//    .post-footer-right {
//        flex-shrink: 0;
//        margin-left: 20px;
//
//        .author-card-button {
//            border: 1px solid adjust-color($electric-cyan, $lightness: -5%);
//            border-radius: 20px;
//            display: block;
//            font-size: 1.6rem;
//            font-weight: 500;
//            line-height: 1;
//            padding: 9px 16px;
//            transition: all 0.2s ease;
//
//            &:hover {
//                border-color: $electric-cyan;
//            }
//        }
//    }
//}

/* ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 * 8.6. Subscribe Form
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */

/* ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 * 9. Subscribe Overlay
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */
.subscribe-overlay {
    align-items: center;
    backdrop-filter: blur(30px);
    background: rgba(0, 25, 40, 0.7);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 200ms ease-in;
    z-index: 9000;

    &:target {
        opacity: 1;
        pointer-events: auto;

        .subscribe-overlay-content {
            -webkit-animation: fade-in-down 0.6s;
            animation: fade-in-down 0.6s ease-in both;
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
            //color: $pale-silver;
            margin: 0 0 5vw 0;
            padding: 4vw;
            position: relative;
            text-align: center;
        }
    }

    .subscribe-overlay-logo {
        height: 30px;
        left: 30px;
        position: fixed;
        top: 23px;
    }

    .subscribe-overlay-title {
        display: inline-block;
        font-size: 6rem;
        line-height: 1.15em;
        margin: 0 0 10px 0;
    }

    .subscribe-overlay-description {
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.3em;
        margin: 0 auto 50px;
        max-width: 650px;
        opacity: 0.8;
    }

    form {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: 500px;

        .form-group {
            flex-grow: 1;
        }

        .subscribe-email {
            background: none;
            border: none;
            //border-bottom: 2px solid adjust-color($pale-silver, $lightness: -5%);
            flex: 1 1 auto;
            font-size: 2rem;
            font-weight: 500;
            letter-spacing: 0.5px;
            line-height: 1em;
            outline: none;
            padding: 5px 2px;
            transition: border-color 0.15s linear;
            user-select: text;
            width: 100%;
            -webkit-appearance: none;

            &:focus {
                //border-color: $pale-silver;
                outline: 0;
            }
        }

        button {
            background: none;
            box-shadow: 0 0 0 1px inset rgba(0, 0, 0, 0.14);
            //border: 2px solid adjust-color($pale-silver, $lightness: -5%);
            color: #fff;
            display: inline-block;
            font-size: 1.7rem;
            font-weight: 400;
            height: 52px;
            line-height: 37px;
            margin: 0 0 0 15px;
            outline: none;
            padding: 0 25px;
            text-align: center;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
            text-transform: uppercase;
        }
    }

    .subscribe-overlay-close {
        bottom: 0;
        cursor: default;
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        &:before {
            //background: adjust-color($electric-cyan, $lightness: -5%);
            display: block;
            content: "";
            height: 2px;
            opacity: 0.8;
            position: absolute;
            right: 25px;
            top: 40px;
            transform: rotate(45deg);
            width: 30px;
        }

        &:after {
            //background: adjust-color($electric-cyan, $lightness: -5%);
            content: "";
            display: block;
            height: 2px;
            opacity: 0.8;
            position: absolute;
            right: 25px;
            top: 40px;
            transform: rotate(-45deg);
            width: 30px;
        }

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}