/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * Apply a natural box layout model to all elements
 */
*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
 * Base Styles: opinionated defaults
 * ────────────────────────────────────────────────────────────────────────────────────────────────────────────────── */
// Basic
// html, head, title, body, h1, h2, h3, h4, h5, h6, p, br, hr
// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
html {
    box-sizing: border-box;
    font-size: $base-font-size;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    //background: linear-gradient(200deg, $cyber-light-gray 75%, $cyber-pale-gray 100%);
    background-color: $nier-sand-gray;
    color: $nier-dark-olive-gray;
    font-family: $base-font;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: $base-font-weight;
    letter-spacing: 0;
    line-height: 1.6em;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.15;
    margin: 1.5em 0 0.5em 0;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2.8em;
    margin: 0 0 0.5em 0;

    @include mobile-max {
        font-size: 2.2rem;
    }
}

h2 {
    font-size: 2rem;

    @include mobile-max {
        font-size: 1.8rem;
    }
}

h3 {
    font-size: 1.8rem;

    @include mobile-max {
        font-size: 1.6rem;
    }
}

h4 {
    font-size: 1.6rem;
}

h5, h6 {
    font-size: 1.4rem;
}

p {
    margin: 0 0 1.5em 0;
}

hr {
    border: 0;
    //border-top: 1px solid adjust-color($lavender-indigo, $lightness: 10%);
    border-top: 1px solid $nier-dark-olive-gray;
    display: block;
    height: 1px;
    margin: 2.5em 0 3.5em;
    padding: 0;
    position: relative;
    width: 100%;
}

::selection {
    background: adjust-color($nier-soft-mint-green, $lightness: -30%);
    color: $nier-sand-gray;
    text-shadow: none;
}

// Formatting
// abbr, address, b, bdi, bdo, blockquote, cite, code, del, dfn, em, i, ins, kbd, mark, meter, pre, progress, q, rp, rt,
// ruby, s, samp, small, strong, sub, sup, template, time, u, var, wbr
// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
b, strong {
    font-weight: bold;
}

blockquote {
    margin: 0 0 1.5em 0;
}

blockquote {
    //border-left: 0.5em solid $light-gray;
    margin: 1.5em 0;
    padding: 0 1.6em 0 1.6em;

    p {
        font-size: 1.2em;
        font-weight: 300;
        margin: 0.8em 0;
    }

    cite {
        font-weight: 700;

        a {
            font-weight: normal;
        }
    }

    small {
        display: inline-block;
        font-size: 0.9em;
        margin: 0.8em 0 0.8em 1.5em;
        opacity: 0.8;

        &:before {
            content: "\2014 \00A0";
        }
    }
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-optical-sizing: auto;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
}

dfn, em, i {
    font-style: italic;
}

mark {
    //background-color: $neon-yellow;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

// Forms and Input
// form, input, textarea, button, select, optgroup, option, label, fieldset, legend, datalist, output
// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
input, textarea, button, select, optgroup {
    color: inherit;
    font: inherit;
    margin: 0;
}

html input[type="button"], input[type="reset"], input[type="submit"], button {
    cursor: pointer;
    -webkit-appearance: button;
}

html input[disabled], button[disabled] {
    cursor: default;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;

    &:focus {
        outline: none;
    }
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    resize: vertical;
}

button, select {
    text-transform: none;
}

button {
    border: none;
    overflow: visible;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    border: 0;
    padding: 0;
}

// Frames
// iframe
// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
iframe {
    vertical-align: middle;
}

// Images
// img, map, area, canvas, figcaption, figure, picture, svg
// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
img {
    border: 0;
    max-width: 100%;
}

img, canvas, svg {
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

// Audio / Video
// audio, source, track, video
// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
audio, video {
    vertical-align: middle;
}

// Links
// a, link, nav
// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
a {
    background-color: transparent;
    color: $nier-soft-mint-green;
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: rgba($nier-soft-mint-green, 0);
    transition: all 0.3s ease-in-out;

    &:link, &:visited {
        //color: adjust-color($oc-white, $lightness: -10%);
    }

    &:active, &:hover {
        color: adjust-color($nier-soft-mint-green, $lightness: -15%);
        outline: 0;
        text-decoration: underline;
        text-decoration-color: adjust-color($nier-soft-mint-green, $lightness: -15%);
        transition: all 0.3s ease-in-out
    }
}


// Lists
// menu, ul, ol, li, dl, dt, dd
// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
ul:not(.nav), ol, dl {
    margin: 0 0 1.5em 0;
}

ul:not(.nav), ol {
    padding-left: 1.3em;
    padding-right: 1.5em;
}

ul ul, ul ol, ol ul, ol ol {
    margin: 0.5em 0 1em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li {
    line-height: 1.6em;
    margin: 0.5em 0;
    padding-left: 0.3em;
}

dl {
    list-style: none;
}

dt {
    //color: $raisin-black;
    float: left;
    font-weight: 500;
    margin: 0 20px 0 0;
    text-align: right;
    width: 120px;
}

dd {
    margin: 0 0 5px 0;
    text-align: left;
}

// Tables
// table, caption, th, tr, td, thead, tbody, tfoot, col, colgroup
// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 0;
}

// Styles and Semantics
// style, div, span, header, hgroup, footer, main, section, search, article, aside, details, dialog, summary, data
// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
// Meta Info
// meta, base
// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
// Programming
// script, noscript, embed, object, param
// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    p, blockquote, ul, ol {
        width: 100%;
    }
}
