img,
.zoom-img-wrap {
  height: auto;
  max-width: 100%;
  vertical-align: middle;

  & + em {
    display: block;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: normal;
    text-align: center;
  }
}

.zoom-img,
.zoom-img-wrap {
  position: relative;
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
  z-index: 999;
}

img[data-action="zoom"],
img.zoom-img {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.zoom-overlay {
  background-color: $background-light;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
  z-index: 998;
}

.zoom-overlay-open {
  #app-main {
    z-index: inherit;
  }

  img.zoom-img {
    cursor: zoom-out;
  }

  .zoom-img-wrap img {
    transition: $transition;
  }

  .zoom-overlay {
    opacity: 0.95;
  }
}

.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}
