<!DOCTYPE html>
{% assign html_class = "no-js" %}
{% if site.use_motion %}
    {% assign html_class = html_class | append: " use-motion" %}
{% endif %}
<html class="{{ html_class | downcase }}" lang="{{ site.language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    {% include head/title.html %}
    <title>{{ title }}</title>

    {% include head/style.html %}

    {% include head/script.html %}
</head>

{% assign body_class = page.layout | default: layout.class | default: "home" | join: " " | prepend: "" %}
<body class="{{ body_class | append: '-template' }}" itemtype="https://schema.org/WebPage" itemscope>
<div id="app">
    {% include component/header/index.html %}

    <main id="app-main" aria-label="Content" role="main">
        <div class="container">
            <div class="row">
                {{ content }}
            </div>
        </div>

        <!--{% case page.layout %}
        {% when "post" %}
            {% include component/pagination-post.html %}
        {% else %}
            {% if paginator.total_posts > site.paginate %}
                {% include component/pagination.html %}
            {% endif %}
        {% endcase %}-->
    </main>

    {% include component/footer/index.html %}
</div>

<div id="top" class="top" title="Top">
    <i class="fas fa-chevron-up"></i>
</div>

{% include component/footer/script.html %}
</body>
</html>
