<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
<div class="site-wrapper">
    <!-- All the main content gets inserted here, index.hbs, post.hbs, etc -->
    {{ content }}

    <footer class="site-footer outer">
        <div class="site-footer-content inner">
            <section class="copyright">
                <a href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a> &copy; {{ site.time | date: '%Y' }}
            </section>
        </div>
    </footer>
</div>
</body>
</html>
