<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    {% if page.url %}
        {% if page.url contains 'tag/' %}
            {% assign title = page.url | remove: 'tag' | remove: '/' | url_decode | replace: '-', ' ' | capitalizeall %}
        {% elsif page.url contains 'author/' %}
            {% assign username = page.url | remove: 'author' | remove: '/' | replace: '-', ' ' | remove: ' ' %}
            {% for author in site.data.authors %}
                {% if author.name == username %}
                    {% assign title = author.name %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}

    {% if title %}
        {% assign title = title | append: ' - ' | append: site.title %}
    {% endif %}

    <title>{% if title %}{{ title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    {% include head.html %}
</head>

{% assign cover = site.cover %}
{% if page.type != 'home' %}
    {% assign cover = page.cover %}
{% endif %}

<body class="{% if paginator.page > 1 %}paged archive-template{% elsif page.type %}{{ page.type }}-template{% else %}home-template{% endif %}">
<div class="site-wrapper">
    <header class="site-header">
        <div class="container">
            <div class="row">
                {% include navigation.html %}
            </div>
        </div>
    </header>

    <main id="site-main" class="site-main outer" role="main">
        <section class="main-meta{% if cover %}" style="background-image: url('{{ site.baseurl }}/{{ cover }}');{% else %} no-cover{% endif %}">
            <div class="container">
                <div class="row">
                    {% if page.type == "home" %}
                    <h1 class="site-title">{{ site.title }}</h1>
                    <h4 class="site-description">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</h4>
                    <!--        <div class="header-cover" style="position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: -1;">-->
                    <!--            <video autoplay muted loop style="height: 700px;width: 100%;object-fit: cover;">-->
                    <!--                <source src="assets/video/cover.mp4" type="video/mp4">-->
                    <!--            </video>-->
                    <!--        </div>-->
                    {% elsif page.type == 'post' or page.type == 'page' %}
                    {% endif %}
                </div>
            </div>
        </section>

        {% include refactor-content.html content=content %}
    </main>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="site-footer-header"></div>
                <div class="site-footer-content">
                    <div class="copyright">
                        {{ site.time | date: '2018 - %Y' }} &copy; <a href="{{ site.baseurl }}/">{{ site.title | upcase }}.</a> Crafted & Designed by Incyverse.
                    </div>

                    <div class="top">
                        <i class="ion ion-ios-arrow-up"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

{% if site.subscribe %}
<!-- The big email subscribe modal content -->
<div id="subscribe" class="subscribe-overlay">
    {% if site.logo %}
        <img src="{{ site.baseurl }}/{{ site.logo }}" class="subscribe-overlay-logo" alt="{{ site.title }}">
    {% endif %}
    <a href="" class="subscribe-overlay-close"></a>
    <div class="subscribe-overlay-content">
        <h1 class="subscribe-overlay-title">Subscribe to {{ site.title }}</h1>
        <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox</p>

        {% include subscribe-form.html placeholder="" %}
    </div>
</div>
{% endif %}

{% include scripts.html %}
</body>
</html>