<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    {% include head.html %}

    <title>{{ page.title }}</title>

    <style media="screen">
        .container {
            margin: 10px auto;
            max-width: 600px;
            text-align: center;
        }
        h1 {
            margin: 30px 0;
            font-size: 4em;
            line-height: 1;
            letter-spacing: -1px;
        }
    </style>
</head>

<body class="{{ page.class }}">
<div class="site-wrapper">
    <header class="site-header outer"></header>

    <main id="site-main" class="site-main outer" role="main">
        <div class="inner">
            {{ content }}
        </div>
    </main>
</div>
</body>
</html>