---
layout: default
---

<section class="post-wrapper{% if page.tags.size > 0 %}{% endif %}">
    <article class="post-header">
        <div class="container">
            <div class="row">
                {% if page.tags.size > 0 %}
                <span class="post-tags">
                    {% for tag in page.tags %}
                    <a href="{{ site.baseurl }}tag/{{tag | slugify: 'latin' }}/" class="post-tag">{{ tag | upcase }}</a>
                    {% endfor %}
                </span>
                {% endif %}
                <h1 class="post-title">{{ page.title }}</h1>
                <div class="post-meta">
                    <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%e %b %Y' }}</time> –
                    <span class="post-reading-time">
                        {% assign words = page.content | strip_html | number_of_words %}
                        {% assign words_per_minute = site.words_per_minute | default: 200 %}
                        {% if words <= words_per_minute %}
                            1 min read
                        {% else %}
                            {{ words | divided_by: words_per_minute }} min read
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </article>

    <article class="post-content">
        <div class="container">
            <div class="row">
                <div class="kg-card-markdown">
                    {{ content }}
                </div>
            </div>
        </div>
    </article>

    <article class="post-navigation">
        {% if page.previous %}
            {% include post/prev.html %}
        {% endif %}

        {% if page.next %}
            {% include post/next.html %}
        {% endif %}
    </article>

    <article class="post-comments">
        {% if site.disqus or page.disqus %}
        <div class="container">
            <div class="row"></div>
        </div>
        {% endif %}
    </article>

    <article class="post-footer">
        {% for author in site.data.authors %}
            {% if author.name == page.author %}
                <div class="post-author">
                    {% if author.picture %}
                    <img src="{{ site.baseurl }}{{ author.picture }}" class="author-picture" alt="{{ page.author }}">
                    {% endif %}
                    <div class="author-content">
                        <h4 class="author-name"><a href="{{ site.baseurl }}author/{{ page.author }}">{{ author.name }}</a></h4>
                        {% if author.bio %}
                            <p>{{ author.bio }}</p>
                        {% else %}
                            <p></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </article>

    <article class="subscribe-form">
        {% if site.subscribe %}
        <div class="container">
            <div class="row"></div>
        </div>
        {% endif %}
    </article>
</section>